body {
  background-color: rgb(9, 64, 17);
  mask-image: linear-gradient(
    to right,
    rgba(0,0,0,0),
    rgba(0,0,0,1) 3%,
    rgba(0,0,0,1) 97%,
    rgba(0,0,0,0)
    );
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
}

.scroll {
    position: fixed;
    border: 1px solid black;
    width: 90%;
    max-width: 1536px;
    margin-inline: auto;
    position: relative;
    height: 75px;
    margin-top: 5rem;
    overflow: hidden;
        mask-image: linear-gradient(
      to right,
      rgba(0,0,0,0),
      rgba(0,0,0,1) 20%,
      rgba(0,0,0,1) 80%,
      rgba(0,0,0,0)
      );
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

.item {
  width: 200px;
  height: 75px;
  background-color: rgb(22, 86, 4);
  border-radius: 6px;
  position: absolute;
  display: flex;
  justify-content: center;
  left: max(calc(200px * 8), 100%);
  animation-name: scrollLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
/* duration / cells (cell -1) * -1
negative delay changes where each cell starts*/
.item1{
  animation-delay: calc(30s / 8 * (8 - 1) * -1);
}

.item2{
  animation-delay: calc(30s / 8 * (8 - 2) * -1);
}

.item3{
  animation-delay: calc(30s / 8 * (8 - 3) * -1);
}

.item4{
  animation-delay: calc(30s / 8 * (8 - 4) * -1);
}

.item5{
  animation-delay: calc(30s / 8 * (8 - 5) * -1);
}

.item6{
  animation-delay: calc(30s / 8 * (8 - 6) * -1);
}

.item7{
  animation-delay: calc(30s / 8 * (8 - 7) * -1);
}

.item8{
  animation-delay: calc(30s / 8 * (8 - 8) * -1);
}

.box1 {
  height: 100vh;
  width: 100vw;
  background: beige;
  display: grid;
  margin: 20px;
  /* place-items: center; */
}


.box2 {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0px;
  padding-inline: 16px;
  max-width: 100vw;
  max-height: 70vh;
}

.box3 {
  display: flex;
  justify-content: center;
  background: rgb(6, 36, 88);
  padding: 10px;
  width: 30vw;
  text-align: center;
  color: yellowgreen;
  font-size: 50px;
  font-weight: bold;
}

@media (max-width: 700px) {
  .box2 {
    font-size: 12px;
    grid-template-columns: 1fr;
  }
}